@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito' sans-serif;
  background: #0223b6;
  color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}

.bold{
  border: .1rem dashed red;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}

option{
  color: black;
}